.digi-flex.digi-search-container {
    display: none;
}

.digi-zero-products {
    display: flex;
    flex-wrap: wrap;
}

.digi-zero-products a {
    background: initial;
    color: inherit;
    text-decoration: initial;
}

.digi-zero-products .digi-zero-product--item {
    display: block;
    background: #fff;
    position: relative;
    width: calc(25% - (60px / 4));
    padding-bottom: 20px;
    /* display: flex; */
    flex-direction: column;
    background-color: #fff;
}

.digi-zero-products .digi-zero-product--item:not(:nth-child(4n)) {
    margin-right: 20px;
}

.digi-zero-products .digi-discount-label span {
    display: block;
}

@media (max-width: 1200px) {
    .digi-zero-products .digi-zero-product--item {
        width: 33%;
    }
}

@media (max-width: 767px) {
    .digi-zero-products .digi-zero-product--item {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .digi-zero-products .digi-zero-product--item {
        width: 100%;
    }
}

.digi-zero-products .digi-zero-product-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 217px;
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.digi-zero-products .digi-zero-product-img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.digi-zero-products .digi-zero-product-name-wrapper {
    max-height: 63px;
    min-height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.digi-zero-products a.digi-zero-product-name {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 5px;
    color: #0078d7;
    display: inline;
    text-decoration: underline;
}

.digi-zero-products a.digi-zero-product-name:hover {
    background: #0078d7;
    color: #fff;
}

.digi-zero-products .digi-price-wrapper {
    margin-top: 10px;
}

.digi-zero-products .digi-zero-product-price__new {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 21px;
    line-height: 120%;
    color: #000000;
    max-height: 25px;
}

.digi-zero-products .digi-zero-product-price__new .digi-zero-product-price__currency {
    /* content: url("data:image/svg+xml,%3Csvg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.195 0.992999H2.121V7.461H0.651V9.75H2.121V11.073H0.651V12.963H2.121V15H4.851V12.963H8.715V11.073H4.851V9.75H6.615C8.505 9.75 9.513 9.141 10.164 8.511C10.563 8.112 11.319 7.251 11.319 5.487C11.319 4.752 11.172 3.198 9.891 2.064C8.862 1.161 7.77 0.992999 6.195 0.992999ZM4.851 3.345H5.796C6.447 3.345 7.161 3.387 7.728 3.786C8.127 4.08 8.505 4.605 8.505 5.382C8.505 5.991 8.253 6.621 7.749 7.02C7.161 7.461 6.489 7.461 5.964 7.461H4.851V3.345Z' fill='%2313151A'/%3E%3C/svg%3E%0A"); */
    margin-left: 2px;
    min-height: 18px;
    font-family: Castorouble_Bold,Arial,sans-serif;
    font-size: 22px;
    padding-top: 2px;
}

.digi-zero-products .digi-zero-product-price__old {
    display: flex;
    align-items: center;
    position: absolute;
    top: -20px;
    right: -30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #807E7E;
    z-index: 10;
}

.digi-zero-products .digi-zero-product-price__old:after {
    content: '';
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;
    transform: rotate(-10deg);
    height: 1.5px;
    background-color: #807E7E;
    width: 100%;
}

.digi-zero-products .digi-zero-product-price__old .digi-zero-product-price__currency {
    content: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.339 0.326999H1.546V6.065H0.159V7.737H1.546V9.143H0.159V10.473H1.546V13H3.484V10.473H6.486V9.143H3.484V7.737H4.358C6.106 7.737 7.132 7.129 7.683 6.578C8.31 5.951 8.69 4.944 8.69 3.975C8.69 2.949 8.196 1.714 7.113 1.011C6.201 0.402999 5.118 0.326999 4.339 0.326999ZM3.484 2.113H4.339C5.042 2.113 5.745 2.17 6.296 2.702C6.524 2.93 6.828 3.367 6.828 4.07C6.828 4.773 6.562 5.191 6.334 5.419C5.935 5.818 5.213 6.065 4.358 6.065H3.484V2.113Z' fill='%23807E7E'/%3E%3C/svg%3E%0A");
    margin-left: -2px;
}

.digi-zero-products .digi-zero-actions .digi-zero-actions--detail {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 9px 7px 8px;
    justify-content: center;
    border: 5px;
    background: #0078d7;
    color: #fff;
    border-radius: 20px;
    border: 1px solid transparent;
    margin-top: 10px;
}

.digi-zero-products .digi-zero-actions .digi-zero-actions--detail:hover {
    background-color: #fff;
    color: #0078d7;
    border-color: #0078d7;
}
